.body{
    background-color: #00ffdd;
    display: grid;
    min-height: 100vh;
    height: auto;
    min-width: 700px; 
    grid-template-areas:
    "header header"
    "leftSidebar content";

    grid-template-columns: 25% 75%;
    grid-template-rows: 13% 87%;
}

.header{
    grid-area: header;
}

.leftSidebar{
    grid-area: lefftSidebar;
}

.content{
    grid-area: content;
}